body {
    font-family: Merriweather;
    background-color: #efefef;
}

.navform {
    float: right;
    border: 1px black dashed;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.bk-root {
    margin: 5% 25%;
    width: 800px;
    height: 500px;
}

h2 {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}